{% extends 'base.html.twig' %}

{% block title %}Admin Created{% endblock %}

{% block content %}
    <h1>Admin Created Successfully</h1>
    <p>The admin account has been created successfully.</p>
    <p>You can now log in with the provided credentials.</p>
{% endblock %}